# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
.pytest_cache/

# Build
build/
dist/
*.egg-info/